/* Light Mode Color Scheme */

:root {
    --color-bg: #f6f6f6;
    --color-bg2: #f4f4f4;
    --color-bg-black: #1b1b1b;
    --color-border: #c6c6c6;
    --color-toggle-menu: #F7941E;
}

.header {
    background-color: var(--color-bg-black);
    border-bottom: 1px solid var(--color-bg-black);
    position: fixed;
    width: 100%;
    z-index: 3;
    padding: 21px 80px;
    top: 0;
    overflow: hidden;
}

.header .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}


/* Menu Icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: var(--color-toggle-menu);
    display: block;
    height: 2px;
    width: 24px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: var(--color-toggle-menu);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.navbar-nav .nav-link {
    position: relative;
    /* -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; */
    -webkit-transition: none;
    transition: none;
}

.navbar-nav .nav-link.active::before,
.navbar-nav .nav-link:hover::before {
    width: 6px;
    height: 6px;
    background: #f7941e;
    /* -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; */
    -webkit-transition: none;
    transition: none;
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
}

.header .dot {
    width: 6px;
    height: 6px;
    background: #f7941e;
    opacity: 0;
    -webkit-transform: translateX(-658px);
    transform: translateX(-658px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-top: 30px;
}


/* 
.header li:hover a{
  color: #f7941e;
} */

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    background: #f7941e;
}

.btn-get {
    margin: 2px 0;
}

.header .menu-icon .navicon:before {
    top: 6px;
}

.header .menu-icon .navicon:after {
    top: -6px;
}


/* Menu Button */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked .header .menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
    background: var(--color-bg);
}

.header .menu.maxHeight {
    max-height: 580px;
    display: block;
}

.collapse-menu nav {
    height: 32px;
    width: 32px;
    text-align: center;
}

.headerNewUI {
    padding: 32px 80px;
}

@media (max-width: 1550px) {
    .headerNewUI .navbar-nav .nav-link {
        margin-right: 30px;
    }
    .headerNewUI {
        padding: 32px 0px;
    }
}

@media (min-width: 1550px) {
    .headerNewUI {
        padding: 32px 80px;
    }
    .headerNewUI .navbar-brand.logo .desk-logo {
        width: 170px;
    }
}

@media (min-width: 1102px) {
    .headerNewUI {
        background: transparent;
        /* padding: 32px 0px; */
        border-bottom: unset;
    }
    .headerNewUI .headerColumn .logo img {
        height: 42px;
    }
    .headerNewUI .headerColumn .btnWithRightArrow {
        height: auto;
        font-size:18px;
    }
    .headerNewUI .headerColumn {
        background: #323131;
        padding: 11px 16px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .headerNewUI .navbar-nav .nav-link {
        text-transform: initial;
        letter-spacing: normal;
    }
    .headerNewUI .headerColumn .collapse-menu {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .headerNewUI .menu .onlyforMobile {
        display: none;
    }
}


/* 48em = 768px */

@media (max-width: 1101px) {
    .onlyforDesktop {
        display: none;
    }
    .headerNewUI.h-100 .menu .onlyforMobile {
        display: flex;
    }
    .collapse-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 21px 52px; */
    }
    .header .menu ul {
        padding: 80px 0px 0;
    }
    .header .menu .btn-rounded {
        margin: 24px 0px 75px;
    }
    .navbar-nav .nav-link.active::before,
    .navbar-nav .nav-link:hover::before {
        bottom: 26px;
        left: unset;
        right: -20px;
    }
    .desk-logo {
        display: none;
    }
}

@media (min-width: 1102px) {
    .mob-logo {
        display: none;
    }
    .header li {
        float: left;
    }
    .header .menu {
        clear: none;
        max-height: none;
        display: flex;
        justify-content: space-between;
    }
    .header .menu-icon,
    .collapse-menu nav {
        display: none;
    }
    .collapse-menu {
        float: left;
    }
    .menu .navbar-nav {
        flex-direction: row;
    }
}

@media (max-width: 1280px) {
    .header {
        padding: 22px 0px;
    }
}

@media (max-width: 1199px) {
    .header {
        padding: 20px 84px;
    }
}

@media (max-width: 767px) {
    .header .menu .btn-rounded {
        width: 100%;
    }
    .header {
        padding: 16px 32px;
    }
}


/* .btn-get:active {
    background-color: #F7941E !important;
    border-color: #F7941E !important;
} */